body {
  font-size: .875rem;
}

/*
* Content
*/

[role="main"] {
  padding-top: 48px; /* vpace for fixed navbar (40px) and margin (8px) */
}

/*
* Messages
*/

#messageFeed {
  height: calc(100vh - 172px); /* vpace for fixed navbar (48px), "main" (71px), footer (53px) */
  overflow-y: scroll; /* vertical scroll for the message feed */
}

#messages footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; /* 100% of page width */
  padding: 0 15px 15px 15px; /* standard edge margin (15px) */
  height: 53px; /* space for input height (38px) + bottom padding (15px) */
  background-color: #fff;
}